* {
	align-self: center;
	margin: 0px;
	padding: 0px;
}

header {
	width: 100%;
	font-size: xx-large;
	font-family: "Courier New", Courier, monospace;
	background-color: rgba(128, 0, 0, 0.742);
}

h1 {
	padding: 100px;
	text-align: center;
	color: aliceblue;
}

h2 {
	color: aliceblue;
}

body {
	width: 100%;
	display: inline-block;
	justify-content: center;
	background-color: darkgoldenrod;
}

main {
	display: flex;
	justify-content: center;
}
